.bg-custom{
	
	background-color: #d32f2f;
}

.navbar .nav-item:hover .nav-link
{
	background-color: white; 
	color: black;
	border-radius: 15px  ;
}

#toast {
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -125px;
	background: #333;
	padding: 10px;
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px #000;
}

